services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nodejs-backend
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    # Remove the bind mount for Jenkins build to avoid Compose V2 BuildKit issues
    # volumes:
    #   - .:/app

  mongo:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:

